@model  CB8_TeamYBD_GroupProject_MVC.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="detail-content">    
    <img class="detail-img" src="~/css/no-profile-image.png" />
    <h3 class="detail-name">@Model.User.UserName</h3>
    <button type="button" class="btn btn-outline-secondary btn-sm follow-button"><i class="fas fa-user-plus fa-2x">Follow</i></button>
</div>


