@model IEnumerable<CB8_TeamYBD_GroupProject_MVC.Models.Article>
@{
    ViewData["Title"] = "ReedMie";
}
<h1 id="latest-articles">Latest</h1>
<div class="home-container">  
@foreach (var i in Model)
{
    <div id="home-cards" class="card text-white bg-info  mb-3">
        <div class="card-header">@i.Author.UserName</div>
        <div class="card-body">
            <h4 class="card-title">@i.Title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
}
</div>