@model IEnumerable<CB8_TeamYBD_GroupProject_MVC.Models.Article>
@{
    ViewData["Title"] = "ReedMie";
    
}

<script src="https://kit.fontawesome.com/e827195700.js"></script>

<h1 id="latest-articles">Latest</h1>
<div class="home-container">  
@foreach (var i in Model)
{
    var a = string.Concat(i.Content.Trim().Take(300).ToArray());
    <a href="/home/read/@i.Id" id="card-links">
        <div id="home-cards" class="card text-white bg-info  mb-3">
        <div class="card-header article-info">
            @i.Author.UserName
            @if (i.Paid == true)
            {
                <i class="fas fa-lock"></i>
            }
        </div>
        <div class="card-body">
            <h5 class="card-title">@i.Title</h5>
            <p id="text-cards-home">@Html.Raw(a) (...)</p>
        </div>
    </div>
        </a>
}
</div>