@model  CB8_TeamYBD_GroupProject_MVC.Models.Article

@{
    ViewData["Title"] = "See Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="color:#61dafb;">@Model.Title</h1>
@Html.Raw(@Model.Content)


